@import url(http://fonts.googleapis.com/css?family=Open+Sans);

* {
  margin: 0;
  padding: 0;
  border: 0;
}

.navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  background-image: url(http://puu.sh/cdvw5.png);
  
  li {
    display: block;
    padding: 1em;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
    
    &.brand {
      font-size: 1.2em;
      padding: 15px;
    }
    
    &.right {
      margin-left: auto;
    }
  }
}