doctype html
html
  head
    block head
      title #{title}
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    block neck
    link(rel='stylesheet' href='scss/out/main.css')
  body
    ul.navigation
      li.brand Kudos!
      li Top
      li.right 
        | hey 
        b kyr
    div.container
      block body